.grid {
  display: grid;
  gap: $gap;
}

@media (min-width: $sm) {
  .grid {
    &-2,
    &-4,
    &-6,
    &-8 {
      grid-template-columns: repeat(2, 1fr);
    }

    &-3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: $md) {
  .grid {
    &-4,
    &-8 {
      grid-template-columns: repeat(4, 1fr);
    }

    &-6 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: $lg) {
  .grid {
    &-6 {
      grid-template-columns: repeat(6, 1fr);
    }

    &-8 {
      grid-template-columns: repeat(8, 1fr);
    }
  }
}
