.section {
    padding: 3rem 0;
    overflow: hidden;

    &-image {
        align-self: center;
    }
}

@media (min-width: $md) {
    .section {
        &-grid {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        &-image {
            width: 40rem;
        }
    }
}
